doctype html
html(lang="ja")
  head
    title Danny Official Website
  body
    header
      nav
        .nav-wrapper.container
          .brand-logo Danny Official Website
    main
      .container
        .row
          ul.collection.with-header
            li.collection-header
              h4 アカウント
            li.collection-item
              a(href="https://github.com/f96q")
                i.fa.fa-github.fa-4x.Icon.is-github(aria-hidden=true)
            li.collection-item
              a(href="https://qiita.com/f96q@github")
                span.fa-stack.fa-2x.Icon.is-qiita
                  i.fa.fa-square.fa-stack-2x(aria-hidden=true)
                  i.fa.fa-search.fa-stack-1x.fa-inverse.fa-2x(aria-hidden=true)
        .row
          ul.collection.with-header
            li.collection-header
              h4 プロジェクト
            li.collection-item
              a(href="https://github.com/f96q/kptboard") kptboard
              p リモートふりかえりサービス
              p
                a(href="https://demo-kptboard.herokuapp.com") デモサイト
              p
                a(href="https://hub.docker.com/r/f96q/kptboard") Docker Hub
              p Rails, Action Cable, React, Redux, Flowtype, Docker, Travis CI
            li.collection-item
              a(href="https://github.com/f96q/kptboard-terraform") kptboard-terraform
              p kptboardをAWS環境で動かせる環境をTerraformで構築
              p Terraform, VPC, ECS, ECR, ALB, RDS
            li.collection-item
              a(href="https://github.com/f96q/serverless-bot") serverless-bot
              p AWS Lambdaで動くSlack Bot
              p Serverless Framework, Node.js
        .row
          ul.collection.with-header
            li.collection-header
              h4 Pull Request
            li.collection-item
              span.title payjp-ruby
              p
                a(href="https://github.com/payjp/payjp-ruby/pull/12") https://github.com/payjp/payjp-ruby/pull/12
            li.collection-item
              span.title svgeez
              p
                a(href="https://github.com/jgarber623/svgeez/pull/22") https://github.com/jgarber623/svgeez/pull/22
            li.collection-item
              span.title cloudinary_gem
              p
                a(href="https://github.com/cloudinary/cloudinary_gem/pull/55") https://github.com/cloudinary/cloudinary_gem/pull/55
        .row
          ul.collection.with-header
            li.collection-header
              h4 RubyGems
            li.collection-item
              a(href="https://rubygems.org/gems/docbase") docbase
        .row
          ul.collection.with-header
            li.collection-header
              h4 過去に取り上げて頂いた記事
            li.collection-item
              a(href="http://magazine.rubyist.net/?0041-TokyoRubyKaigi10Report_1st") RegionalRubyKaigi レポート東京 Ruby 会議 10
            li.collection-item
              a(href="http://d.hatena.ne.jp/replication/20110615/1308063792") 今すぐフォローすべきnode.js界のスーパーエンジニア
        .row
          ul.collection.with-header
            li.collection-header
              h4 過去に発表した資料
            li.collection-item
              span.title 2014-09-31 第21回val.rb
              p
                a(href="https://speakerdeck.com/f96q/vue-dot-jstorailsdezuo-ruwebapurikesiyon") Vue.jsとRailsで作るWebアプリケーション
            li.collection-item
              span.title 2014-05-31 2014 5月プログラマーズカフェ
              p
                a(href="https://speakerdeck.com/f96q/kai-fa-huan-jing-dedockershi-tutemita") 開発環境でDocker使ってみた
            li.collection-item
              span.title 2013-12-06 2013 プログラマーズカフェ 忘年会
              p
                a(href="https://speakerdeck.com/f96q/2013nian-wozhen-rifan-tute") 2013年を振り返って
            li.collection-item
              span.title 2013-07-05 Git勉強会@KRAY
              p
                a(href="https://speakerdeck.com/f96q/gitmian-qiang-hui-at-kray") Git勉強会@KRAY
            li.collection-item
              span.title 2013-01-25 東京Ruby会議10 事後懇親会:Q
              p
                a(href="https://speakerdeck.com/f96q/deng-qiang-rubyhui-yi-10nican-jia-sitefalsegan-xiang") 東京Ruby会議10に参加しての感想
            li.collection-item
              span.title 2013-01-13 東京Ruby会議10
              p
                a(href="https://speakerdeck.com/f96q/inside-tripclip") Inside Tripclip
        .row
          ul.collection.with-header
            li.collection-header
              h4 ブログ記事
            li.collection-item
              a(href="http://kray.jp/author/danny") KRAY Blog
        .row
          ul.collection.with-header
            li.collection-header
              h4 職歴
            li.collection-item
              | 2010-04 ~
              a(href="http://kray.jp")  KRAY Inc

